<center><img src='/img/logo.png' style="border:2px solid black;"></center>
<div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
</div>