<center><img src='/img/logo.png' style="border:2px solid black;"></center>
<div class="container">
<center class="row">
<div class=".col-md-4">
	<h2>Left</h2>
</div>
<div class=".col-md-4">
	<h2>Center</h2>	
</div>
<div class=".col-md-4">
	<h2>Right</h2>
</div>
</center>
</div>