<center><img src='/img/logo.png' style="border:2px solid black;"></center>
<center>
<div class="row" style="margin-top: 77px;">
        <div class="col-md-4">
        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" style="width: 150px;">
        <h2>HTML 5</h2>
        	The App relies on the innovations from the most recent revision of HTML, such as the canvas element, to allow game development without requiring clientside libraries like flash or java.
        </div>
        <div class="col-md-4" style="border-left: 2px solid #eee; border-right: 2px solid #eee;">
        <img src="http://www.appelsiini.net/demo/websocket/img/HTML5_Connectivity_512.png" style="width: 150px;">
        <h2>Web Sockets</h2>
        	Communication between the front and back-ends is handled by Web Sockets, which allows for easier, more efficient coordination between players.
        </div>
        <div class="col-md-4">
        <img src="http://www.necolt.com/assets/technologies/ruby-847c4d5e8e43981d3690e77fe389124d.png" style="width: 134px;">
        <h2>Ruby</h2>
        	The backend runs on Ruby. Sinatra routes requests, with ActiveRecord on percussion. Ruby is a joy to code in, and makes for simple maintenance of code over the lifetime of the product.
        </div>
</div>
</center>

<style>
#info-cells {
margin-top: 11px;
}
#center-cell {
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}
</style>