<center><img src='/img/logo.png' style="border:2px solid black;"></center>
<center>
<div class="row" style="margin-top: 77px;">
        <div class="col-md-4">
        <img src="http://happyinteraction.com/wp-content/uploads/2014/02/Websockets-460x300.png" style="width: 240px;">
        <h2>Web Sockets</h2>

        </div>
        <div class="col-md-4" style="border-left: 2px solid #eee; border-right: 2px solid #eee;">
        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" style="width: 150px;">
        <h2>HTML 5</h2>

        </div>
        
        <div class="col-md-4">
        <img src="http://www.necolt.com/assets/technologies/ruby-847c4d5e8e43981d3690e77fe389124d.png" style="width: 134px;">
        <h2>Ruby</h2>

        </div>
</div>
</center>

<style>
#info-cells {
margin-top: 11px;
}
#center-cell {
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}
</style>